node_modules
dist
yarn-error.log
.idea
.npmrc
coverage
tests/integration/yarn.lock
tests/integration/quick-start.ts
tests/integration/package.json
tests/integration/tsconfig.json
tests/integration/issue952.*
tests/esm/yarn.lock
tests/esm/quick-start.ts
tests/esm/package.json
tests/esm/tsconfig.json
tests/vitest/yarn.lock
