node_modules
dist
dist-esm
yarn-error.log
.idea
.npmrc
coverage
integration-test/node_modules
integration-test/yarn-error.log
integration-test/yarn.lock
integration-test/quick-start.ts
integration-test/package.json
integration-test/tsconfig.json
integration-test/issue952.*
tests/esm/node_modules
tests/esm/yarn-error.log
tests/esm/yarn.lock
tests/esm/quick-start.ts
tests/esm/package.json
tests/esm/tsconfig.json
