public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=@vitest/*
public-hoist-pattern[]=@eslint/*
public-hoist-pattern[]=globals
public-hoist-pattern[]=@types/qs
public-hoist-pattern[]=@types/express-serve-static-core
