src
tsconfig.json
tsconfig.build.json
tsconfig.esm.json
example
.husky
jest.config.ts
tests
.idea
yarn-error.log
.github
dataflow.svg
coverage.svg
logo.svg
.eslintrc.json
tools
coverage
.prettierignore
tsup.config.ts
dist-esm
eslint-local-rules
