# This workflow will do a clean installation of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, v12, v14 ]
  pull_request:
    branches: [ master, v12, v14 ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.0.0, 18.6.0, 18.x, 20.1.0, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - name: Get yarn cache dir
      id: yarnCache
      run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-yarn
      with:
        path: ${{ steps.yarnCache.outputs.dir }}
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
    - name: Install dependencies
      run: yarn install
    - name: Lint
      run: yarn lint
    - name: Unit tests
      run: yarn test
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      continue-on-error: true
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ matrix.node-version }}
        parallel: true
    - name: Build
      run: yarn build
    - name: System test
      run: yarn test:system
    - name: Compatibility test
      run: yarn test:compat
    - name: Integration test
      run: yarn test:int
    - name: Issue 952
      # see https://github.com/RobinTail/express-zod-api/issues/952
      run: yarn test:952
    - name: ESM test
      # see https://github.com/RobinTail/express-zod-api/pull/1210#issuecomment-1751489201
      if: matrix.node-version != '18.0.0'
      run: yarn test:esm
  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
