# This workflow will do a clean installation of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, v15, v16, v17 ]
  pull_request:
    branches: [ master, v15, v16, v17 ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.0.0, 18.x, 20.0.0, 20.x, 22.0.0-rc.2] # todo: use 22.0 and 22.x when released
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - name: Get yarn cache dir
      id: yarnCache
      run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Node.js ${{ matrix.node-version }}
      id: setup-node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache node modules
      uses: actions/cache@v4
      env:
        cache-name: cache-yarn
      with:
        path: ${{ steps.yarnCache.outputs.dir }}
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
    - name: Install dependencies
      uses: nick-fields/retry@v3
      with:
        timeout_seconds: 15
        max_attempts: 3
        on_retry_command: yarn config set registry https://registry.npmjs.org
        # todo use regular "yarn install" when min Node version increased to 18.18
        # todo remove ignore from the first install when 22.x released
        # @typescript/eslint group compatibility issue fixed by ignoring engines for dev dependencies only:
        command: |
          npm pkg delete devDependencies
          yarn install --ignore-engines
          git checkout -- .
          yarn install --ignore-engines
    - name: Lint
      run: yarn lint
    - name: Test
      run: yarn test
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      continue-on-error: true
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ matrix.node-version }}
        parallel: true
    - name: Build
      run: yarn build
    - name: CJS test
      uses: nick-fields/retry@v3
      with:
        timeout_seconds: 15
        max_attempts: 3
        on_retry_command: yarn config set registry https://registry.npmjs.org
        command: yarn test:cjs
    - name: ESM test
      uses: nick-fields/retry@v3
      with:
        timeout_seconds: 15
        max_attempts: 3
        on_retry_command: yarn config set registry https://registry.npmjs.org
        command: yarn test:esm
    - name: Check Jest 30 compatibility
      uses: madhead/semver-utils@v4
      id: jest30compat
      with:
        version: ${{ steps.setup-node.outputs.node-version }}
        satisfies: '>=18.12.0'
        lenient: false # require to parse or fail
    - name: Compatibility test
      if: steps.jest30compat.outputs.satisfies == 'true'
      uses: nick-fields/retry@v3
      with:
        timeout_seconds: 15
        max_attempts: 3
        on_retry_command: yarn config set registry https://registry.npmjs.org
        command: yarn test:compat
    - name: Issue 952 # see https://github.com/RobinTail/express-zod-api/issues/952
      uses: nick-fields/retry@v3
      with:
        timeout_seconds: 15
        max_attempts: 3
        on_retry_command: yarn config set registry https://registry.npmjs.org
        command: yarn test:952
  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
