name: OpenAPI Validation

on:
  push:
    branches: [ master, v17, v18, v19, v20 ]
  pull_request:
    branches: [ master, v17, v18, v19, v20 ]


jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate against OpenAPI 3.1
        uses: char0n/apidom-validate@v1
        with:
          definition-file: example/example.documentation.yaml
